*~
*.json
*.pyc
*.log
*.ipynb
*.dot
dependencies/
pylot/prediction/prediction/
*.pt
*.csv
*.onnx
*.engine
*.txt
*.png
*.pkl
*.jpg
*.jpeg
*.qdrep
*.qdstrm

# Generated documentation files
/doc/build
.idea/
venv/
erdos_pylot.egg-info/
